In [1]:
library(dbplyr)
library(dplyr)
library(odbc)
library(RPostgres)
library(plutoR)
options("scipen"=999)
source("config.R")

equitiesIndiaNse <- EquitiesIndiaNse()
indices<-Indices()

Attaching package: ‘dplyr’

The following objects are masked from ‘package:dbplyr’:

    ident, sql

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
maxDt <- (equitiesIndiaNse$EodTimeSeries() %>%
  summarize(MAX_DT = max(TIME_STAMP)) %>%
  collect())$MAX_DT[[1]]

print("latest end-of-day prices for RELIANCE:")
equitiesIndiaNse$EodTimeSeries() %>%
  filter(TIME_STAMP == maxDt & SYMBOL == 'RELIANCE') %>%
  print()

Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

[1] "latest end-of-day prices for RELIANCE:"
# Source:   lazy query [?? x 9]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
  SYMBOL   SERIES TIME_STAMP  HIGH   LOW  OPEN CLOSE  LAST   VOLUME
  <chr>    <chr>  <date>     <dbl> <dbl> <dbl> <dbl> <dbl>    <dbl>
1 RELIANCE EQ     2019-08-30 1254.  1221 1246. 1249.  1253 11308120

In [3]:
indices$NseTimeSeries() %>%
         filter(NAME == "NIFTY 50") %>%
         arrange(desc(TIME_STAMP)) %>%
         print(n=10)

# Source:     lazy query [?? x 7]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Groups:     NAME
# Ordered by: desc(TIME_STAMP)
   NAME     TIME_STAMP   HIGH    LOW   OPEN  CLOSE    VOLUME
   <chr>    <date>      <dbl>  <dbl>  <dbl>  <dbl>     <dbl>
 1 NIFTY 50 2019-08-30 11043. 10875. 10988. 11023. 628154431
 2 NIFTY 50 2019-08-29 11021. 10922. 10996. 10948. 649876160
 3 NIFTY 50 2019-08-28 11130. 10988. 11101. 11046. 549954696
 4 NIFTY 50 2019-08-27 11142. 11050. 11107. 11105. 685551267
 5 NIFTY 50 2019-08-26 11070. 10757. 11000. 11058. 684141923
 6 NIFTY 50 2019-08-23 10863. 10637. 10700. 10829. 667079625
 7 NIFTY 50 2019-08-22 10908. 10718. 10905. 10741. 668193449
 8 NIFTY 50 2019-08-21 11034. 10907. 11018. 10919. 557867906
 9 NIFTY 50 2019-08-20 11076. 10985. 11064. 11017  444715679
10 NIFTY 50 2019-08-19 11147. 11038. 11095. 11054. 369493161
# … with more rows

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)