In [1]:
library(dbplyr)
library(dplyr)
library(odbc)
library(RPostgres)
library(plutoR)
options("scipen"=999)
source("config.R")

equitiesIndiaNse <- EquitiesIndiaNse()
indices<-Indices()

Attaching package: ‘dplyr’

The following objects are masked from ‘package:dbplyr’:

    ident, sql

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
maxDt <- (equitiesIndiaNse$EodTimeSeries() %>%
  summarize(MAX_DT = max(TIME_STAMP)) %>%
  collect())$MAX_DT[[1]]

print("latest end-of-day prices for RELIANCE:")
equitiesIndiaNse$EodTimeSeries() %>%
  filter(TIME_STAMP == maxDt & SYMBOL == 'RELIANCE') %>%
  print()

Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

[1] "latest end-of-day prices for RELIANCE:"
# Source:   lazy query [?? x 9]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
  SYMBOL   SERIES TIME_STAMP  HIGH   LOW  OPEN CLOSE  LAST   VOLUME
  <chr>    <chr>  <date>     <dbl> <dbl> <dbl> <dbl> <dbl>    <dbl>
1 RELIANCE EQ     2019-08-30 1254.  1221 1246. 1249.  1253 11308120

In [3]:
auto_index <- indices$NseTimeSeries() %>%
                 filter(NAME == "NIFTY 50") %>%  
                 arrange(desc(TIME_STAMP)) %>%
                 print(n=4)

# Source:     lazy query [?? x 7]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Ordered by: desc(TIME_STAMP)
  NAME     TIME_STAMP   HIGH    LOW   OPEN  CLOSE    VOLUME
  <chr>    <date>      <dbl>  <dbl>  <dbl>  <dbl>     <dbl>
1 NIFTY 50 2019-08-30 11043. 10875. 10988. 11023. 628154431
2 NIFTY 50 2019-08-29 11021. 10922. 10996. 10948. 649876160
3 NIFTY 50 2019-08-28 11130. 10988. 11101. 11046. 549954696
4 NIFTY 50 2019-08-27 11142. 11050. 11107. 11105. 685551267
# … with more rows

In [4]:
auto <- as.data.frame(auto_index)

In [5]:
dim(auto)

[1] 7055    7

In [6]:
tail(auto, n=10)

     NAME     TIME_STAMP HIGH LOW OPEN CLOSE  VOLUME
7046 NIFTY 50 1990-07-17 0    0   0    295.39 0
7047 NIFTY 50 1990-07-16 0    0   0    287.96 0
7048 NIFTY 50 1990-07-13 0    0   0    296.34 0
7049 NIFTY 50 1990-07-12 0    0   0    296.21 0
7050 NIFTY 50 1990-07-11 0    0   0    293.30 0
7051 NIFTY 50 1990-07-10 0    0   0    288.69 0
7052 NIFTY 50 1990-07-09 0    0   0    289.69 0
7053 NIFTY 50 1990-07-06 0    0   0    289.04 0
7054 NIFTY 50 1990-07-05 0    0   0    284.04 0
7055 NIFTY 50 1990-07-03 0    0   0    279.02 0

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)