In [1]:
library(dbplyr)
library(dplyr)
library(odbc)
library(RPostgres)
library(plutoR)
options("scipen"=999)
source("config.R")

equitiesIndiaNse <- EquitiesIndiaNse()
indices<-Indices()

Attaching package: ‘dplyr’

The following objects are masked from ‘package:dbplyr’:

    ident, sql

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
maxDt <- (equitiesIndiaNse$EodTimeSeries() %>%
  summarize(MAX_DT = max(TIME_STAMP)) %>%
  collect())$MAX_DT[[1]]

print("latest end-of-day prices for RELIANCE:")
equitiesIndiaNse$EodTimeSeries() %>%
  filter(TIME_STAMP == maxDt & SYMBOL == 'RELIANCE') %>%
  print()

Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

[1] "latest end-of-day prices for RELIANCE:"
# Source:   lazy query [?? x 9]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
  SYMBOL   SERIES TIME_STAMP  HIGH   LOW  OPEN CLOSE  LAST   VOLUME
  <chr>    <chr>  <date>     <dbl> <dbl> <dbl> <dbl> <dbl>    <dbl>
1 RELIANCE EQ     2019-08-30 1254.  1221 1246. 1249.  1253 11308120

In [3]:
indices$NseTimeSeries() %>%
         group_by(NAME) %>%
         filter(NAME == "NIFTY AUTO") %>%
         summarize(ST=min(TIME_STAMP), ET=max(TIME_STAMP)) %>%
         print()

Warning message:
“Missing values are always removed in SQL.
Use `MIN(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

# Source:   lazy query [?? x 3]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
   NAME                                           ST         ET
   <chr>                                          <date>     <date>
 1 NIFTY 100 TR                                   2003-01-01 2019-08-30
 2 NIFTY 200 TR                                   2004-01-01 2019-08-30
 3 NIFTY 50 FUTURES TR INDEX                      2005-04-01 2019-08-30
 4 NIFTY 50 TR                                    1999-06-30 2019-08-30
 5 NIFTY 500 TR                                   1998-11-26 2019-08-30
 6 NIFTY ADITYA BIRLA GROUP TR                    2005-04-01 2019-08-30
 7 NIFTY ALPHA 50 TR                              2003-12-31 2019-08-30
 8 NIFTY ALPHA LOW-VOLATILITY 30 TR               2005-04-01 2019-08-30
 9 NIFTY ALPHA QUALITY LOW-VOLATILITY 30 TR       2005-04-01 2019-08-30
10 NIFTY ALPHA QUALITY VALUE LOW-VOLATILITY 30 TR 2005-04-01 2019-08-30
# … with more rows

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)