In [1]:
library(dbplyr)
library(dplyr)
library(odbc)
library(RPostgres)
library(plutoR)
options("scipen"=999)
source("config.R")

equitiesIndiaNse <- EquitiesIndiaNse()
indices<-Indices()

Attaching package: ‘dplyr’

The following objects are masked from ‘package:dbplyr’:

    ident, sql

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
maxDt <- (equitiesIndiaNse$EodTimeSeries() %>%
  summarize(MAX_DT = max(TIME_STAMP)) %>%
  collect())$MAX_DT[[1]]

print("latest end-of-day prices for RELIANCE:")
equitiesIndiaNse$EodTimeSeries() %>%
  filter(TIME_STAMP == maxDt & SYMBOL == 'RELIANCE') %>%
  print()

Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

[1] "latest end-of-day prices for RELIANCE:"
# Source:   lazy query [?? x 9]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
  SYMBOL   SERIES TIME_STAMP  HIGH   LOW  OPEN CLOSE  LAST   VOLUME
  <chr>    <chr>  <date>     <dbl> <dbl> <dbl> <dbl> <dbl>    <dbl>
1 RELIANCE EQ     2019-08-30 1254.  1221 1246. 1249.  1253 11308120

In [3]:
indices$NseTimeSeries() %>%
         filter(NAME == "NIFTY 50") %>%
         mutate(RETURNS = ((CLOSE - OPEN)/OPEN)*100) %>%  
         arrange(desc(TIME_STAMP)) %>%
         print(n=10)

ERROR while rich displaying an object: Error: <SQL> 'SELECT TOP(11) "NAME", "TIME_STAMP", "HIGH", "LOW", "OPEN", "CLOSE", "VOLUME", (("CLOSE" - "OPEN") / "OPEN") * 100.0 AS "RETURNS"
FROM (SELECT TOP 100 PERCENT "INDEX_NAME" AS "NAME", "TIME_STAMP", "PX_HIGH" AS "HIGH", "PX_LOW" AS "LOW", "PX_OPEN" AS "OPEN", "PX_CLOSE" AS "CLOSE", "TRD_QTY" AS "VOLUME"
FROM "BHAV_INDEX") "dbplyr_003"
WHERE ("NAME" = 'NIFTY 50')'
  nanodbc/nanodbc.cpp:1587: 22012: [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Divide by zero error encountered.

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. repr::mime2repr[[mime]](obj)
8. repr_text.default(obj)
9. paste(capture.output(print(obj)), collapse = "\n")
10. capture.output(print(obj))
11. evalVis(expr)
12. withVisible(eval(expr, pf))
13. eval(expr, pf)
14. eval(expr, pf)
15. print(obj)
16. print.tbl_sql(obj)
17. cat_line(format(x, ..., n = n, width = width, n_extra = n_extra))
18. cat(paste0(..., "\n"), sep = "")
19. paste0(..., "\n")
20. format(x, ..., n = n, width = width, n_extra = n_extra)
21. format.tbl(x, ..., n = n, width = width, n_extra = n_extra)
22. trunc_mat(x, n = n, width = width, n_extra = n_extra)
23. as.data.frame(head(x, n + 1))
24. as.data.frame.tbl_sql(head(x, n + 1))
25. as.data.frame(collect(x, n = n))
26. collect(x, n = n)
27. collect.tbl_sql(x, n = n)
28. db_collect(x$src$con, sql, n = n, warn_incomplete = warn_incomplete)
29. db_collect.DBIConnection(x$src$con, sql, n = n, warn_incomplete = warn_incomplete)
30. dbSendQuery(con, sql)
31. dbSendQuery(con, sql)
32. OdbcResult(connection = conn, statement = statement)
33. new_result(connection@ptr, statement)

ERROR: Error in desc(TIME_STAMP): object 'TIME_STAMP' not found

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)