In [1]:
library(dbplyr)
library(dplyr)
library(odbc)
library(RPostgres)
library(plutoR)
options("scipen"=999)
source("config.R")

equitiesIndiaNse <- EquitiesIndiaNse()
indices<-Indices()

Attaching package: ‘dplyr’

The following objects are masked from ‘package:dbplyr’:

    ident, sql

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
maxDt <- (equitiesIndiaNse$EodTimeSeries() %>%
  summarize(MAX_DT = max(TIME_STAMP)) %>%
  collect())$MAX_DT[[1]]

print("latest end-of-day prices for RELIANCE:")
equitiesIndiaNse$EodTimeSeries() %>%
  filter(TIME_STAMP == maxDt & SYMBOL == 'RELIANCE') %>%
  print()

Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

[1] "latest end-of-day prices for RELIANCE:"
# Source:   lazy query [?? x 9]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
  SYMBOL   SERIES TIME_STAMP  HIGH   LOW  OPEN CLOSE  LAST   VOLUME
  <chr>    <chr>  <date>     <dbl> <dbl> <dbl> <dbl> <dbl>    <dbl>
1 RELIANCE EQ     2019-08-30 1254.  1221 1246. 1249.  1253 11308120

In [3]:
indices$NseTimeSeries() %>%
         filter(NAME == "NIFTY 50") %>%
         select(NAME, CLOSE) %>%
         summarize(ST=min(TIME_STAMP), ET=max(TIME_STAMP)) %>%
         print()

Warning message:
“Missing values are always removed in SQL.
Use `MIN(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

ERROR: Error: <SQL> 'SELECT TOP(11) MIN("TIME_STAMP") AS "ST", MAX("TIME_STAMP") AS "ET"
FROM (SELECT TOP 100 PERCENT "NAME", "CLOSE"
FROM (SELECT TOP 100 PERCENT *
FROM (SELECT TOP 100 PERCENT "INDEX_NAME" AS "NAME", "TIME_STAMP", "PX_HIGH" AS "HIGH", "PX_LOW" AS "LOW", "PX_OPEN" AS "OPEN", "PX_CLOSE" AS "CLOSE", "TRD_QTY" AS "VOLUME"
FROM "BHAV_INDEX") "dbplyr_003"
WHERE ("NAME" = 'NIFTY 50')) "dbplyr_004") "dbplyr_005"'
  nanodbc/nanodbc.cpp:1587: 42S22: [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid column name 'TIME_STAMP'.

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)