In [1]:
library(dbplyr)
library(dplyr)
library(odbc)
library(RPostgres)
library(plutoR)
options("scipen"=999)
source("config.R")

equitiesIndiaNse <- EquitiesIndiaNse()
indices<-Indices()

Attaching package: ‘dplyr’

The following objects are masked from ‘package:dbplyr’:

    ident, sql

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
maxDt <- (equitiesIndiaNse$EodTimeSeries() %>%
  summarize(MAX_DT = max(TIME_STAMP)) %>%
  collect())$MAX_DT[[1]]

print("latest end-of-day prices for RELIANCE:")
equitiesIndiaNse$EodTimeSeries() %>%
  filter(TIME_STAMP == maxDt & SYMBOL == 'RELIANCE') %>%
  print()

Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

[1] "latest end-of-day prices for RELIANCE:"
# Source:   lazy query [?? x 9]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
  SYMBOL   SERIES TIME_STAMP  HIGH   LOW  OPEN CLOSE  LAST   VOLUME
  <chr>    <chr>  <date>     <dbl> <dbl> <dbl> <dbl> <dbl>    <dbl>
1 RELIANCE EQ     2019-08-30 1254.  1221 1246. 1249.  1253 11308120

In [3]:
auto_index <- indices$NseTimeSeries() %>%
                 filter(NAME == "NIFTY 50") %>%
                 mutate(RETURNS = ((CLOSE - OPEN)/OPEN)*100) %>%  
                 arrange(desc(TIME_STAMP)) %>%
                 print(n=4)

# Source:     lazy query [?? x 8]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Ordered by: desc(TIME_STAMP)
  NAME     TIME_STAMP   HIGH    LOW   OPEN  CLOSE    VOLUME RETURNS
  <chr>    <date>      <dbl>  <dbl>  <dbl>  <dbl>     <dbl>   <dbl>
1 NIFTY 50 2019-08-30 11043. 10875. 10988. 11023. 628154431  0.323
2 NIFTY 50 2019-08-29 11021. 10922. 10996. 10948. 649876160 -0.434
3 NIFTY 50 2019-08-28 11130. 10988. 11101. 11046. 549954696 -0.497
4 NIFTY 50 2019-08-27 11142. 11050. 11107. 11105. 685551267 -0.0108
5 NIFTY 50 2019-08-26 11070. 10757. 11000. 11058. 684141923  0.523
# … with more rows

In [4]:
class(auto_index)

ERROR: Error in result_fetch(res@ptr, n, ...): nanodbc/nanodbc.cpp:2525: 22012: [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Divide by zero error encountered.

Warning message in dbClearResult(res):
“Result already cleared”

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)