In [1]:
#Loading neccessary libraries

library(tidyverse)
library(ggthemes)
library(odbc)
library(plutoR)
library(quantmod)
library(PerformanceAnalytics)
library(ggrepel)
library(lubridate)

options("scipen"=999)
options(stringsAsFactors = FALSE)
options(repr.plot.width=16, repr.plot.height=8)

source("config.R")
source("goofy/plot.common.R")

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: xts
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Registered S3 method overwritten by 'xts':
  method     from
  as.zoo.xts zoo

Attaching package: ‘xts’

The following objects are masked from ‘package:dplyr’:

    first, last

Loading required package: TTR
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo
Version 0.4-0 included new data defaults. See ?getSymbols.

Attaching package: ‘PerformanceAnalytics’

The following object is masked from ‘package:graphics’:

    legend


Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

Registering fonts with R

In [2]:
#Making an object of the class Indices()

indices<-Indices()

In [3]:
#Getting the name of indices of NSE

maxDtNse <- (indices$NseTimeSeries() %>% summarize(MAX_TS = max(TIME_STAMP)) %>% collect())$MAX_TS[1]

nse_indices <- indices$NseTimeSeries() %>%
               group_by(NAME) %>%
               filter(TIME_STAMP == maxDtNse) %>%
               select(NAME) %>%
               print(n=30)

Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

# Source:   lazy query [?? x 1]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Groups:   NAME
   NAME
   <chr>
 1 NIFTY 100
 2 NIFTY 100 TR
 3 Nifty 1D Rate Index
 4 NIFTY 200
 5 NIFTY 200 TR
 6 NIFTY 50
 7 NIFTY 50 ARBITRAGE
 8 NIFTY 50 FUTURES INDEX
 9 NIFTY 50 FUTURES TR INDEX
10 NIFTY 50 TR
11 NIFTY 500
12 NIFTY 500 TR
13 NIFTY ADITYA BIRLA GROUP
14 NIFTY ADITYA BIRLA GROUP TR
15 NIFTY ALPHA 50
16 NIFTY ALPHA 50 TR
17 NIFTY ALPHA LOW-VOLATILITY 30
18 NIFTY ALPHA LOW-VOLATILITY 30 TR
19 NIFTY ALPHA QUALITY LOW-VOLATILITY 30
20 NIFTY ALPHA QUALITY LOW-VOLATILITY 30 TR
21 NIFTY ALPHA QUALITY VALUE LOW-VOLATILITY 30
22 NIFTY ALPHA QUALITY VALUE LOW-VOLATILITY 30 TR
23 NIFTY AUTO
24 NIFTY AUTO TR
25 NIFTY BANK
26 NIFTY BANK TR
27 NIFTY COMMODITIES
28 NIFTY COMMODITIES TR
29 NIFTY CONSUMPTION
30 NIFTY CPSE
# … with more rows

In [4]:
maxDtNse

[1] "2019-08-16"

In [5]:
class(nse_indices)

[1] "tbl_Microsoft SQL Server" "tbl_dbi"
[3] "tbl_sql"                  "tbl_lazy"
[5] "tbl"

In [6]:
indices$NseTimeSeries() %>%
     group_by(NAME) %>%
     filter(!(NAME %like% '% TR%')) %>%
     summarize(ST=min(TIME_STAMP), ET=max(TIME_STAMP)) %>%
     print(n = 50)

Warning message:
“Missing values are always removed in SQL.
Use `MIN(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

# Source:   lazy query [?? x 3]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
   NAME                                        ST         ET
   <chr>                                       <date>     <date>
 1 NIFTY 10 YEAR SDL INDEX                     2001-09-03 2019-08-14
 2 NIFTY 100                                   2003-01-01 2019-08-16
 3 Nifty 1D Rate Index                         2011-01-03 2019-08-16
 4 NIFTY 200                                   2004-01-01 2019-08-16
 5 NIFTY 50                                    1990-07-03 2019-08-16
 6 NIFTY 50 ARBITRAGE                          2010-04-01 2019-08-16
 7 NIFTY 50 FUTURES INDEX                      2005-04-01 2019-08-16
 8 NIFTY 500                                   1999-06-07 2019-08-16
 9 NIFTY AAA CORPORATE BOND                    2013-12-31 2018-03-28
10 NIFTY AAA LONG-TERM CORPORATE BOND          2013-12-31 2018-03-28
11 NIFTY AAA MEDIUM-TERM CORPORATE BOND        2013-12-31 2018-03-28
12 NIFTY AAA SHORT-TERM CORPORATE BOND         2013-12-31 2018-03-28
13 NIFTY AAA ULTRA LONG-TERM CORPORATE BOND    2013-12-31 2018-03-28
14 NIFTY AAA ULTRA SHORT-TERM CORPORATE BOND   2013-12-31 2018-03-28
15 NIFTY ADITYA BIRLA GROUP                    2005-04-01 2019-08-16
16 NIFTY ALPHA 50                              2003-12-31 2019-08-16
17 NIFTY ALPHA LOW-VOLATILITY 30               2005-04-01 2019-08-16
18 NIFTY ALPHA QUALITY LOW-VOLATILITY 30       2005-04-01 2019-08-16
19 NIFTY ALPHA QUALITY VALUE LOW-VOLATILITY 30 2005-04-01 2019-08-16
20 NIFTY AUTO                                  2004-01-01 2019-08-16
21 NIFTY BANK                                  2000-01-01 2019-08-16
22 NIFTY COMMODITIES                           2004-01-01 2019-08-16
23 NIFTY CONSUMPTION                           2006-01-02 2019-08-16
24 NIFTY CPSE                                  2004-01-01 2019-08-16
25 NIFTY DIV OPPS 50                           2007-10-01 2019-08-16
26 NIFTY DIVIDEND                              2006-04-25 2015-11-05
27 NIFTY ENERGY                                2001-01-01 2019-08-16
28 NIFTY FIN SERVICE                           2004-01-01 2019-08-16
29 NIFTY FMCG                                  1996-01-01 2019-08-16
30 NIFTY FULL MIDCAP 100                       2005-04-01 2018-03-28
31 NIFTY FULL SMALLCAP 100                     2005-04-01 2018-03-28
32 NIFTY GROWSECT 15                           2009-01-01 2019-08-16
33 NIFTY GS 10YR                               2000-01-01 2019-08-16
34 NIFTY GS 10YR CLN                           2000-01-01 2019-08-16
35 NIFTY GS 11 15YR                            2011-01-03 2019-08-16
36 NIFTY GS 15YRPLUS                           2011-01-03 2019-08-16
37 NIFTY GS 4 8YR                              2011-01-03 2019-08-16
38 NIFTY GS 8 13YR                             2011-01-03 2019-08-16
39 NIFTY GS COMPSITE                           2011-01-03 2019-08-16
40 NIFTY HIGH BETA 50                          2003-12-31 2019-08-16
41 NIFTY INFRA                                 2004-01-01 2019-08-16
42 NIFTY IT                                    1996-01-01 2019-08-16
43 NIFTY LargeMidcap 250                       2005-04-01 2019-08-16
44 NIFTY LOW VOLATILITY 50                     2003-12-31 2019-08-16
45 NIFTY MAHINDRA GROUP                        2005-04-01 2019-08-16
46 NIFTY MEDIA                                 2005-12-30 2019-08-16
47 NIFTY METAL                                 2004-01-01 2019-08-16
48 NIFTY MID LIQ 15                            2009-01-01 2019-08-16
49 NIFTY MIDCAP 100                            2001-01-01 2019-08-16
50 NIFTY MIDCAP 150                            2005-04-01 2019-08-16
# … with more rows

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)