Our project topic:
Back-test a rotation strategy based on aggregate valuations of the NIFTY non-financial sector indices (AUTO, COMMODITIES, FMCG, etc...)

How we have planned to go about it:

1. Taking 5-6 non-financial sector indices like Auto, commodities, metal, fmcg,pharma.

2. Determine seasonality and cyclicity in the each of these chosen indices. 

3. Based on this information, determine the frequency and the factors to be considered for rotation. 

4. Performing 5 different rotation strategies like:
Fixed ratio
Beta based
Variable ratio
Constant rupee plan
Constant ratio plan
This will help us understand the timing of entry and exit and the composition of the portfolio yielding maximum returns. 

5. Comparing the returns form each of these five types of strategies with that of a portfolio without any rotation IE, an untouched portfolio.

In [1]:
library(tidyverse)
library(ggthemes)
library(odbc)
library(plutoR)
library(quantmod)
library(PerformanceAnalytics)
library(ggrepel)
library(lubridate)

options("scipen"=999)
options(stringsAsFactors = FALSE)
options(repr.plot.width=16, repr.plot.height=8)

source("config.R")
source("goofy/plot.common.R")


indices<-Indices()

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: xts
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Registered S3 method overwritten by 'xts':
  method     from
  as.zoo.xts zoo

Attaching package: ‘xts’

The following objects are masked from ‘package:dplyr’:

    first, last

Loading required package: TTR
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo
Version 0.4-0 included new data defaults. See ?getSymbols.

Attaching package: ‘PerformanceAnalytics’

The following object is masked from ‘package:graphics’:

    legend


Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

Registering fonts with R

In [2]:
today <- Sys.Date()
startDt <- today - 100

indices_data <-indices$NseTimeSeries() %>%
                  filter(TIME_STAMP >= startDt) %>%
                  arrange(desc(TIME_STAMP)) %>%
                  print(n=20)

# Source:     lazy query [?? x 7]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Ordered by: desc(TIME_STAMP)
   NAME                      TIME_STAMP    HIGH     LOW    OPEN   CLOSE   VOLUME
   <chr>                     <date>       <dbl>   <dbl>   <dbl>   <dbl>    <dbl>
 1 NIFTY500 VALUE 50 TR      2019-08-30    NA      NA      NA    5142.   NA
 2 NIFTY500 VALUE 50         2019-08-30    NA      NA      NA    3460.    3.63e8
 3 NIFTY500 SHARIAH TR       2019-08-30    NA      NA      NA    3354.   NA
 4 NIFTY500 SHARIAH          2019-08-30    NA      NA      NA    2858.    2.32e8
 5 NIFTY50 VALUE 20 TR       2019-08-30    NA      NA      NA    6376.   NA
 6 NIFTY50 VALUE 20          2019-08-30  5245.   5146.   5211.   5230.    3.87e8
 7 NIFTY50 TR 2X LEV         2019-08-30  5774.   5601.   5718.   5754.   NA
 8 NIFTY50 TR 1X INV         2019-08-30   375.    369.    371.    370.   NA
 9 NIFTY50 SHARIAH TR        2019-08-30    NA      NA      NA    2934    NA
10 NIFTY50 SHARIAH           2019-08-30    NA      NA      NA    2463.    8.00e7
11 NIFTY50 PR 2X LEV         2019-08-30  4459.   4324.   4415.   4443.   NA
12 NIFTY50 PR 1X INV         2019-08-30   426.    420.    422.    421.   NA
13 NIFTY50 EQUAL WEIGHT TR   2019-08-30    NA      NA      NA   17977.   NA
14 NIFTY50 EQL WGT           2019-08-30 11381.  11162.  11319.  11354.    6.28e8
15 NIFTY50 DIV POINT         2019-08-30    96.2    96.2    96.2    96.2  NA
16 NIFTY200 QUALITY 30 TR    2019-08-30    NA      NA      NA   12014.   NA
17 NIFTY200 QUALITY 30       2019-08-30    NA      NA      NA    9322.   NA
18 NIFTY100 QUALITY 30 TR    2019-08-30    NA      NA      NA    3018.   NA
19 NIFTY100 LOWVOL30         2019-08-30  8532.   8395.   8481.   8519.    1.19e8
20 NIFTY100 LOW VOLATILITY … 2019-08-30    NA      NA      NA   10820.   NA
# … with more rows

In [3]:
today <- Sys.Date()
startDt <- today - 10

indices$IndiaVixTimeSeries() %>%
  filter(TIME_STAMP >= startDt) %>%
  arrange(desc(TIME_STAMP)) %>%
  print()

# Source:     lazy query [?? x 5]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Ordered by: desc(TIME_STAMP)
  TIME_STAMP  HIGH   LOW  OPEN CLOSE
  <date>     <dbl> <dbl> <dbl> <dbl>
1 2019-08-30  17.4  15.2  16.4  16.3
2 2019-08-29  17.4  13.9  16.8  16.4
3 2019-08-28  17.4  14.1  16.0  16.8
4 2019-08-27  16.8  14.4  16.7  16.0
5 2019-08-26  19.1  13.7  17.3  16.7
6 2019-08-23  18.3  13.7  17.9  17.3

In [4]:
class(indices_data)

[1] "tbl_Microsoft SQL Server" "tbl_dbi"
[3] "tbl_sql"                  "tbl_lazy"
[5] "tbl"

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)