Our project topic:
Back-test a rotation strategy based on aggregate valuations of the NIFTY non-financial sector indices (AUTO, COMMODITIES, FMCG, etc...)

How we have planned to go about it:

1. Taking 5-6 non-financial sector indices like Auto, commodities, metal, fmcg,pharma.

2. Determine seasonality and cyclicity in the each of these chosen indices. 

3. Based on this information, determine the frequency and the factors to be considered for rotation. 

4. Performing 5 different rotation strategies like:
Fixed ratio
Beta based
Variable ratio
Constant rupee plan
Constant ratio plan
This will help us understand the timing of entry and exit and the composition of the portfolio yielding maximum returns. 

5. Comparing the returns form each of these five types of strategies with that of a portfolio without any rotation IE, an untouched portfolio.

In [1]:
library(tidyverse)
library(ggthemes)
library(odbc)
library(plutoR)
library(quantmod)
library(PerformanceAnalytics)
library(ggrepel)
library(lubridate)

options("scipen"=999)
options(stringsAsFactors = FALSE)
options(repr.plot.width=16, repr.plot.height=8)

source("config.R")
source("goofy/plot.common.R")


indices<-Indices()

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: xts
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Registered S3 method overwritten by 'xts':
  method     from
  as.zoo.xts zoo

Attaching package: ‘xts’

The following objects are masked from ‘package:dplyr’:

    first, last

Loading required package: TTR
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo
Version 0.4-0 included new data defaults. See ?getSymbols.

Attaching package: ‘PerformanceAnalytics’

The following object is masked from ‘package:graphics’:

    legend


Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

Registering fonts with R

In [2]:
today <- Sys.Date()
startDt <- today - 3

indices_data <-indices$NseTimeSeries() %>%
                  filter(TIME_STAMP >= startDt) %>%
                  arrange(desc(TIME_STAMP)) %>%
                  print(n=10)

# Source:     lazy query [?? x 7]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Ordered by: desc(TIME_STAMP)
   NAME                 TIME_STAMP  HIGH   LOW  OPEN CLOSE    VOLUME
   <chr>                <date>     <dbl> <dbl> <dbl> <dbl>     <dbl>
 1 NIFTY500 VALUE 50 TR 2019-08-30   NA    NA    NA  5142.        NA
 2 NIFTY500 VALUE 50    2019-08-30   NA    NA    NA  3460. 362573360
 3 NIFTY500 SHARIAH TR  2019-08-30   NA    NA    NA  3354.        NA
 4 NIFTY500 SHARIAH     2019-08-30   NA    NA    NA  2858. 231565326
 5 NIFTY50 VALUE 20 TR  2019-08-30   NA    NA    NA  6376.        NA
 6 NIFTY50 VALUE 20     2019-08-30 5245. 5146. 5211. 5230. 387145562
 7 NIFTY50 TR 2X LEV    2019-08-30 5774. 5601. 5718. 5754.        NA
 8 NIFTY50 TR 1X INV    2019-08-30  375.  369.  371.  370.        NA
 9 NIFTY50 SHARIAH TR   2019-08-30   NA    NA    NA  2934         NA
10 NIFTY50 SHARIAH      2019-08-30   NA    NA    NA  2463.  79991802
# … with more rows

In [3]:
id <- as.data.frame(indices_data)

In [4]:
class(id)

[1] "data.frame"

In [5]:
tail(id)

    NAME                TIME_STAMP HIGH     LOW      OPEN    CLOSE
131 NIFTY 50            2019-08-30 11042.60 10874.80 10987.8 11023.25
132 NIFTY 200 TR        2019-08-30       NA       NA      NA  7115.27
133 NIFTY 200           2019-08-30  5700.85  5614.45  5667.5  5691.55
134 Nifty 1D Rate Index 2019-08-30       NA       NA      NA  1830.07
135 NIFTY 100 TR        2019-08-30       NA       NA      NA 14323.94
136 NIFTY 100           2019-08-30 11174.35 11002.20 11110.1 11155.10
    VOLUME
131  628154431
132         NA
133 1352753327
134         NA
135         NA
136  971311298

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)