In [1]:
library(tidyverse)
library(ggthemes)
library(odbc)
library(RPostgres) 
library(plutoR)
library(quantmod)
library(PerformanceAnalytics)
library(ggrepel)
library(reshape2)
library(lubridate)

options("scipen"=999)
options(stringsAsFactors = FALSE)
options(repr.plot.width=16, repr.plot.height=8)

source("config.R")
source("goofy/plot.common.R")


indices<-Indices()

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: xts
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Registered S3 method overwritten by 'xts':
  method     from
  as.zoo.xts zoo

Attaching package: ‘xts’

The following objects are masked from ‘package:dplyr’:

    first, last

Loading required package: TTR
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo
Version 0.4-0 included new data defaults. See ?getSymbols.

Attaching package: ‘PerformanceAnalytics’

The following object is masked from ‘package:graphics’:

    legend


Attaching package: ‘reshape2’

The following object is masked from ‘package:tidyr’:

    smiths


Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

Registering fonts with R

In [2]:
nifty_50 <- indices$NseTimeSeries() %>%
                 filter(NAME == "NIFTY 50") %>%  
                 arrange(TIME_STAMP) %>%
                 collect() 

tail(nifty_50)

  NAME     TIME_STAMP HIGH     LOW      OPEN     CLOSE    VOLUME
1 NIFTY 50 2019-08-27 11141.75 11049.50 11106.55 11105.35 685551267
2 NIFTY 50 2019-08-28 11129.65 10987.65 11101.30 11046.10 549954696
3 NIFTY 50 2019-08-29 11021.10 10922.40 10996.05 10948.30 649876160
4 NIFTY 50 2019-08-30 11042.60 10874.80 10987.80 11023.25 628154431
5 NIFTY 50 2019-09-03 10967.50 10772.70 10960.95 10797.90 483038985
6 NIFTY 50 2019-09-04 10858.75 10746.35 10790.40 10844.65 508784352

In [3]:
xts1 <- xts(nifty_50$CLOSE, nifty_50$TIME_STAMP) 

periodicity(xts1)

Daily periodicity from 1990-07-03 to 2019-09-04

In [4]:
monthly_prices <- to.monthly(xts1, indexAt="last", OHLC = FALSE)

periodicity(monthly_prices)

Monthly periodicity from 1990-07-30 to 2019-09-04

In [5]:
monthly_returns <- na.omit(Return.calculate(monthly_prices, method = "log")) 
length(monthly_returns)

                   [,1]
2019-04-30  0.010632458
2019-05-31  0.014756752
2019-06-28 -0.011298364
2019-07-31 -0.058588753
2019-08-30 -0.008558738
2019-09-04 -0.016334808

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)