In [1]:
library(tidyverse)
library(ggthemes)
library(odbc)
library(RPostgres) 
library(plutoR)
library(quantmod)
library(PerformanceAnalytics)
library(ggrepel)
library(reshape2)
library(lubridate)

options("scipen"=999)
options(stringsAsFactors = FALSE)
options(repr.plot.width=16, repr.plot.height=8)

source("config.R")
source("goofy/plot.common.R")


indices<-Indices()

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: xts
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Registered S3 method overwritten by 'xts':
  method     from
  as.zoo.xts zoo

Attaching package: ‘xts’

The following objects are masked from ‘package:dplyr’:

    first, last

Loading required package: TTR
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo
Version 0.4-0 included new data defaults. See ?getSymbols.

Attaching package: ‘PerformanceAnalytics’

The following object is masked from ‘package:graphics’:

    legend


Attaching package: ‘reshape2’

The following object is masked from ‘package:tidyr’:

    smiths


Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

Registering fonts with R

In [2]:
nifty_50 <- indices$NseTimeSeries() %>%
                 filter(NAME == "NIFTY 50") %>%  
                 arrange(TIME_STAMP) %>%
                 collect() 

head(nifty_50)

  NAME     TIME_STAMP HIGH LOW OPEN CLOSE  VOLUME
1 NIFTY 50 1990-07-03 0    0   0    279.02 0
2 NIFTY 50 1990-07-05 0    0   0    284.04 0
3 NIFTY 50 1990-07-06 0    0   0    289.04 0
4 NIFTY 50 1990-07-09 0    0   0    289.69 0
5 NIFTY 50 1990-07-10 0    0   0    288.69 0
6 NIFTY 50 1990-07-11 0    0   0    293.30 0

In [3]:
xts1 <- xts(nifty_50$CLOSE, nifty_50$TIME_STAMP) 

periodicity(xts1)

Daily periodicity from 1990-07-03 to 2019-09-03

In [4]:
monthly_prices <- to.monthly(xts1, indexAt="last", OHLC = FALSE)

class(monthly_prices)

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)