In [1]:
library(tidyverse)
library(ggthemes)
library(odbc)
library(plutoR)
library(quantmod)
library(PerformanceAnalytics)
library(ggrepel)
library(lubridate)

options("scipen"=999)
options(stringsAsFactors = FALSE)
options(repr.plot.width=16, repr.plot.height=8)

source("config.R")
source("goofy/plot.common.R")


indices<-Indices()

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: xts
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Registered S3 method overwritten by 'xts':
  method     from
  as.zoo.xts zoo

Attaching package: ‘xts’

The following objects are masked from ‘package:dplyr’:

    first, last

Loading required package: TTR
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo
Version 0.4-0 included new data defaults. See ?getSymbols.

Attaching package: ‘PerformanceAnalytics’

The following object is masked from ‘package:graphics’:

    legend


Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

Registering fonts with R

In [2]:
nifty_50 <- indices$NseTimeSeries() %>%
                 filter(NAME == "NIFTY 50") %>%  
                 arrange(desc(TIME_STAMP)) %>%
                 print(n=4)

# Source:     lazy query [?? x 7]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Ordered by: desc(TIME_STAMP)
  NAME     TIME_STAMP   HIGH    LOW   OPEN  CLOSE    VOLUME
  <chr>    <date>      <dbl>  <dbl>  <dbl>  <dbl>     <dbl>
1 NIFTY 50 2019-09-03 10968. 10773. 10961. 10798. 483038985
2 NIFTY 50 2019-08-30 11043. 10875. 10988. 11023. 628154431
3 NIFTY 50 2019-08-29 11021. 10922. 10996. 10948. 649876160
4 NIFTY 50 2019-08-28 11130. 10988. 11101. 11046. 549954696
# … with more rows

In [3]:
nifty <- as.data.frame(nifty_50)

In [4]:
abs_returns <- (c(diff(nifty$CLOSE,lag=1)*(-1),0)) 

nifty <- data.frame(nifty, abs_returns)

n<-1
per_returns=rep(0,7055)
while(n<=(length(nifty$abs_returns)-1)){
    per_returns[n] = ((nifty$abs_returns[n])/(nifty$CLOSE[n+1]))*100
    n = n+1
}

In [5]:
length(abs_returns)

[1] 7056

In [6]:
dim(nifty)

     NAME     TIME_STAMP HIGH LOW OPEN CLOSE  VOLUME abs_returns
7051 NIFTY 50 1990-07-11 0    0   0    293.30 0       4.61
7052 NIFTY 50 1990-07-10 0    0   0    288.69 0      -1.00
7053 NIFTY 50 1990-07-09 0    0   0    289.69 0       0.65
7054 NIFTY 50 1990-07-06 0    0   0    289.04 0       5.00
7055 NIFTY 50 1990-07-05 0    0   0    284.04 0       5.02
7056 NIFTY 50 1990-07-03 0    0   0    279.02 0       0.00

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)