In [1]:
library(tidyverse)
library(ggthemes)
library(odbc)
library(plutoR)
library(quantmod)
library(PerformanceAnalytics)
library(ggrepel)
library(lubridate)

options("scipen"=999)
options(stringsAsFactors = FALSE)
options(repr.plot.width=16, repr.plot.height=8)

source("config.R")
source("goofy/plot.common.R")


indices<-Indices()

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: xts
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Registered S3 method overwritten by 'xts':
  method     from
  as.zoo.xts zoo

Attaching package: ‘xts’

The following objects are masked from ‘package:dplyr’:

    first, last

Loading required package: TTR
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo
Version 0.4-0 included new data defaults. See ?getSymbols.

Attaching package: ‘PerformanceAnalytics’

The following object is masked from ‘package:graphics’:

    legend


Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

Registering fonts with R

In [2]:
indices

Reference class object of class "Indices"
Field "conn":
<OdbcConnection> ro1@NORWAY
  Database: StockViz
  Microsoft SQL Server Version: 13.00.4259
Field "connUs2":
<OdbcConnection> ro1@NORWAY
  Database: StockVizUs2
  Microsoft SQL Server Version: 13.00.4259

In [3]:
maxDtNse <- (indices$NseTimeSeries() %>% summarize(MAX_TS = max(TIME_STAMP)) %>% collect())$MAX_TS[1]

today <- Sys.Date()
startDt <- today - 2

indices$NseTimeSeries() %>%
     group_by(NAME) %>%
     filter(TIME_STAMP == maxDtNse) %>%
     select(NAME, CLOSE) %>%
     print(n=10)

Warning message:
“Missing values are always removed in SQL.
Use `MAX(x, na.rm = TRUE)` to silence this warning
This warning is displayed only once per session.”

# Source:   lazy query [?? x 2]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Groups:   NAME
   NAME                       CLOSE
   <chr>                      <dbl>
 1 NIFTY 100                 11155.
 2 NIFTY 100 TR              14313.
 3 Nifty 1D Rate Index        1826.
 4 NIFTY 200                  5698.
 5 NIFTY 200 TR               7118.
 6 NIFTY 50                  11048.
 7 NIFTY 50 ARBITRAGE         1844.
 8 NIFTY 50 FUTURES INDEX     3788.
 9 NIFTY 50 FUTURES TR INDEX 11114.
10 NIFTY 50 TR               15465.
# … with more rows

In [4]:
maxDtNse <- (indices$NseTimeSeries() %>% summarize(MAX_TS = max(TIME_STAMP)) %>% collect())$MAX_TS[1]

today <- Sys.Date()
startDt <- today - 2

indices$NseTimeSeries() %>%
     group_by(NAME) %>%
     filter(TIME_STAMP == maxDtNse) %>%
     select(NAME, CLOSE) %>%
     print(n=15)

# Source:   lazy query [?? x 2]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Groups:   NAME
   NAME                         CLOSE
   <chr>                        <dbl>
 1 NIFTY 100                   11155.
 2 NIFTY 100 TR                14313.
 3 Nifty 1D Rate Index          1826.
 4 NIFTY 200                    5698.
 5 NIFTY 200 TR                 7118.
 6 NIFTY 50                    11048.
 7 NIFTY 50 ARBITRAGE           1844.
 8 NIFTY 50 FUTURES INDEX       3788.
 9 NIFTY 50 FUTURES TR INDEX   11114.
10 NIFTY 50 TR                 15465.
11 NIFTY 500                    8989.
12 NIFTY 500 TR                13457.
13 NIFTY ADITYA BIRLA GROUP     2882.
14 NIFTY ADITYA BIRLA GROUP TR  3159.
15 NIFTY ALPHA 50              11844.
# … with more rows

In [5]:
maxDtNse <- (indices$NseTimeSeries() %>% summarize(MAX_TS = max(TIME_STAMP)) %>% collect())$MAX_TS[1]

today <- Sys.Date()
startDt <- today - 10

indices$NseTimeSeries() %>%
     group_by(NAME) %>%
     filter(TIME_STAMP == startDt) %>%
     select(NAME, CLOSE) %>%
     print(n=20)

# Source:   lazy query [?? x 2]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Groups:   NAME
   NAME                                   CLOSE
   <chr>                                  <dbl>
 1 NIFTY 10 YEAR SDL INDEX                4669.
 2 NIFTY 100                             11144.
 3 NIFTY 100 TR                          14292.
 4 Nifty 1D Rate Index                    1824.
 5 NIFTY 200                              5692.
 6 NIFTY 200 TR                           7107.
 7 NIFTY 50                              11032.
 8 NIFTY 50 ARBITRAGE                     1841.
 9 NIFTY 50 FUTURES INDEX                 3787.
10 NIFTY 50 FUTURES TR INDEX             11099.
11 NIFTY 50 TR                           15435.
12 NIFTY 500                              8980.
13 NIFTY 500 TR                          13436.
14 NIFTY ADITYA BIRLA GROUP               2872.
15 NIFTY ADITYA BIRLA GROUP TR            3145.
16 NIFTY ALPHA 50                        11882.
17 NIFTY ALPHA 50 TR                     13893.
18 NIFTY ALPHA LOW-VOLATILITY 30         11330.
19 NIFTY ALPHA LOW-VOLATILITY 30 TR      13804.
20 NIFTY ALPHA QUALITY LOW-VOLATILITY 30  8986.
# … with more rows

In [6]:
maxDtNse <- (indices$NseTimeSeries() %>% summarize(MAX_TS = max(TIME_STAMP)) %>% collect())$MAX_TS[1]

today <- Sys.Date()
startDt <- today - 10

indices$NseTimeSeries() %>%
     group_by(NAME) %>%
     filter(TIME_STAMP == startDt) %>%
     select(NAME, CLOSE) %>%
     print(n=10)

# Source:   lazy query [?? x 2]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Groups:   NAME
   NAME                       CLOSE
   <chr>                      <dbl>
 1 NIFTY 10 YEAR SDL INDEX    4669.
 2 NIFTY 100                 11144.
 3 NIFTY 100 TR              14292.
 4 Nifty 1D Rate Index        1824.
 5 NIFTY 200                  5692.
 6 NIFTY 200 TR               7107.
 7 NIFTY 50                  11032.
 8 NIFTY 50 ARBITRAGE         1841.
 9 NIFTY 50 FUTURES INDEX     3787.
10 NIFTY 50 FUTURES TR INDEX 11099.
# … with more rows

In [7]:
maxDtNse <- (indices$NseTimeSeries() %>% summarize(MAX_TS = max(TIME_STAMP)) %>% collect())$MAX_TS[1]

today <- Sys.Date()
startDt <- today - 10

indices$NseTimeSeries() %>%
     filter(NAME == "NIFTY 50", TIME_STAMP == startDt) %>%
     select(NAME, CLOSE) %>%
     print(n=10)

# Source:   lazy query [?? x 2]
# Database: Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
  NAME      CLOSE
  <chr>     <dbl>
1 NIFTY 50 11032.

In [8]:
today <- Sys.Date()
startDt <- today - 10

indices$NseTimeSeries() %>%
     filter(NAME == "NIFTY 50", TIME_STAMP >= startDt) %>%
     select(NAME, TIME_STAMP, CLOSE) %>%
     arrange(desc(TIME_STAMP)) %>%
     print(n=10)

# Source:     lazy query [?? x 3]
# Database:   Microsoft SQL Server 13.00.4259[ro1@NORWAY/StockViz]
# Ordered by: desc(TIME_STAMP)
  NAME     TIME_STAMP  CLOSE
  <chr>    <date>      <dbl>
1 NIFTY 50 2019-08-16 11048.
2 NIFTY 50 2019-08-14 11029.
3 NIFTY 50 2019-08-13 10926.
4 NIFTY 50 2019-08-09 11110.
5 NIFTY 50 2019-08-08 11032.

This notebook was created using [pluto](http://pluto.studio). Learn more [here](https://github.com/shyams80/pluto)